[Unit]
Description=Run BladeMedia Organizer hourly
Requires=blademedia-organizer.service

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
